@charset "UTF-8";

:root{
    --cor1:#662400;
    --cor2: #B33F00;
    --cor3: #FF6B1A;
    --cor4: #006663;
    --cor5: #00B3AD;
}

*{
    padding: 0;
    margin: 0;
}

/* Selecionando elementos-*,tag, id(#), class(.)-*/

body{
    background-color: var(--cor5);

}

header{
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor1) );/*linha de gradiente- (direção, cor que começa, cor que termina)*/
}










